html,
body {
    height: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 0px;
    font-size: 100%;
}

/* Steps Module */

.full-height-step {
    height: 100%;
    text-align: center;
}

.step-upper-section {
    height: 65%;
    text-align: center;
}

.step-lower-section {
    height: 35%;
    text-align: center;
}

#creation-body,
#steps {
    min-height: 85%;
    height: 85%;
    max-height: 85%;
    min-height: 85vh;
    height: 85vh;
    max-height: 85vh;
}

.content {
    min-height: 70%;
    height: 70%;
    max-height: 70%;
    min-height: 70vh;
    height: 70vh;
    max-height: 70vh;
}

.step-title {
    font-size: 3em;
    font-family: "Times New Roman", serif;
    text-align: center;
}

.step-subtitle {
    font-size: 2em;
    font-family: "Times New Roman", serif;
    text-align: center;
}

.step-img-parent {
    margin: 0 auto;
    height: 65%;
    width: 100%;
    position: relative;
}

.step-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.eighty-height {
    min-height: 80%;
    padding: 2em;
}

.carousel-container {
    max-height: 90%;
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
}

/* End of Steps Module */
